*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 800px;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}